<%= graph font_size: 20 %>

<%= component Examples.Component.Button, "test btn", id: :test_btn, translate: {200, 20} %>

<%= primitive Text,
    "selected value #{@dropdown_value}",
    id: :dropdown_value_text,
    translate: {20, 80}
%>

<%= component Examples.Component.ButtonList, nil, id: :button_list, translate: {20, 200} do %>
    <%= for {button, i} <- Enum.with_index(@buttons) do %>
        <%= component Examples.Component.Button, button, translate: {i * 100, 0} %>
    <% end %>
<% end %>

<%= component Dropdown, {
        @dropdown_opts,
        @dropdown_value
    },
    id: :dropdown,
    translate: {20, 20}
%>
