<%= graph font_size: 20
    component :button, "test", id: :test_btn, translate: {200, 20}
    primitive :text,
        "selected value #{@state.dropdown_value}",
        id: :dropdown_value_text,
        translate: {20, 80}
    component :dropdown, {
            @state.dropdown_opts,
            @state.dropdown_value
        },
        id: :dropdown,
        translate: {20, 20}
%>