<%=
    graph font_size: 20

    primitive :rounded_rectangle, {100, 50, 4}, id: :btn, fill: :blue

    component :button_icon, [] do
        slot :icon, :text, "test"
        slot :text, :text, "test"
    end
%>